#header{
    background: #fff;
    border-bottom:1px solid #ebebeb;
    height:100.6px;
}
#header1{
    background: #f7f7f7;
    border-bottom:1px solid #ebebeb;
    height:35px;
}

.co6{
    color:#666;
}
.f12{
    font-size:12px;
}
.top_logo{
	width:500px;
	height:80px;
	float:left;
	padding-top:30px;
	}
.fl{float:left;}
.fr{float:right;}
.tel{
	 color:#5f5f5f;
	 text-align:center;
	 float:left;
	 padding-top:49px;
	 font-size:14px;
	 line-height:20px;
}
.navigation {
    cursor: pointer;
    padding:0 7px;
    text-align: center;
}
.text-danger{
    color:#e84c3d;
}
.lh35{
    line-height:35px;
}
.lhlogo{
	line-height:400px
}
.padd-r20{padding-right:10px;}

.login-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    float: left;
    margin-right: 10px;
    opacity: 1;
}
 
.body-top .dropdown li{
    padding:8px;
    border-bottom:1px dashed #C8C8C8;
    font-size:12px;
    color:#888;
    line-height:16px;
}
.body-top .dropdown li img{
    margin-right:10px;
    float:left;
    margin-top:1px;
}
.sanjiao{
    width:0px;
    height:0px;
    border-right:6px solid transparent;
    border-bottom:6px solid #666;
    border-left:6px solid transparent;
    margin-left:5px;
    cursor: pointer;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
}
#drop:hover .sanjiao{
    transform: rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
#drop:hover .dropdown{
    display:block;
}
#drop>img{
    position:relative;
    top:3px;
}
.line1{width:1px;
    height:12px;
    background: #e84c3d;
    margin-top:12px;
}
/*nav BEGIN*/
.nav{
    height:90px;
    background: #5f5f5f;
    -webkit-transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s ;
    -ms-transition: all ease-out 0.5s ;
    -o-transition: all ease-out 0.5s ;
    transition: all ease-out 0.5s ;
}
.nav .media_logo{
    float:left;
    overflow: hidden;
    width:210px;
}
.nav .media_logo a {
    width: 200px;
    overflow: hidden;
    line-height: 80px;
    padding: 21px 0;
    display: block;
    height:90px;
}
.nav .media_logo a img{
    vertical-align: top;
    width:100%;
}
.nav .aw-top-nav{
    float:left;
    margin:0;
}
.navbar{
    position: relative;
    min-height: 50px;
}
.aw-top-nav > nav > ul > li {
    height:90px;
    width:197.6px;
    float:left;
    background: #5f5f5f;
}
.aw-top-nav > nav > ul > li > a:hover,  .aw-top-nav > nav > ul > li > a:focus {
    background-color: #fc7a22;
    color: #fff;
}
.aw-top-nav > nav > ul > li > a.van_hover{
    background-color: #fc7a22;
    color: #fff;
}
.aw-top-nav > nav > ul > li > a {
    color: #FFF;
    font-size: 16px;
    display: block;
    line-height:90px;
}
.van_hover, .button_pu:hover {
    background: #fc7a22;
    color: #fff;
    transition: all ease 0.5s;
}
/*banner*/
/*banner Begin*/
.banner{
    width: 100%;
    height:500px;
    position: relative;
    /*background:url("http://7xnlea.com2.z0.glb.qiniucdn.com/banner_03.png") center center no-repeat;*/
}
.banner img{
    width: 100%;
    min-height:500px;
}
.banner-left,.banner-right{
    padding:90px 0;
}
.banner-fixed{
    position:fixed;
    top:45%;
    right:0;
    width: 150px;
}
.banner-fixed li{
    margin-top:10px;
    text-align: center;
    text-align: left;
    border-radius: 30px 0 0 30px;
}
.banner-fixed li a{
    display: block;
    color:#fff;
    background: #626262;
    padding:6px 25px 6px 15px;
    cursor: pointer;
    border-radius: 30px 0 0 30px;
    transition:all .5s;
    position: relative;
    width: 60%;
    margin-left: 40%;
    font-size: 12px;
}
.banner-fixed li a.point{
    background: #CB1D1D;
    width: 100%;
    margin-left: 0;
}
.banner-fixed li a.this{
    background: #CB1D1D;
    width: 100%;
    margin-left: 0;
}
.banner-item{
    margin-bottom:30px;
    position:relative;
    left:-200px;
    opacity: 0;
}
.banner-item h4{
    color:#fff;
    line-height:2em;
    font-size:24px;
    transition: all 0.35s ease;

}
.banner-item p{
    color:#fff;
    font-size: 18px;
    transition: all 0.35s ease;
    line-height:1.5em;

}
.banner-item h3{
    color:#fff;
    line-height:1.2em;
    font-size:32px;
    transition: all 0.35s ease;

}
.banner-item h1{
    color:#fff;
    font-size:54px;
    font-weight: bold;
    transition: all 0.35s ease;
    margin-top:10px;

}
.banner-left a{
    width:157px;
    height:55px;
    text-align: center;
    padding:10px 15px;
    color:#fff;
    font-size:18px;
    border:1px solid #fff;
    transition: all 0.35s;
}
.banner-left a:hover{
    background:#CB1D1D ;
    border:1px solid #CB1D1D;
}
.form{
    width:335px;
    /*height:392px;*/
    border-radius: 3px;
    background:rgba(255,255,255,0.8);
    /*overflow: hidden;*/
    position: relative;
}
.form-title{
    height:50px;
    line-height:50px;
    position: relative;
}
.form-title ul{
    height:50px;
    border-bottom:2px solid #fff;

}
.form-title li{
    float:left;
    width:50%;
    text-align: center;
    cursor: pointer;
}

.form-title li a{
    font-size: 16px;
    color:#333;
    padding: 13px 15px;
}
.form-title li.this a{
    color:#e84c3d;
}
.form-title li.this{color:#e84c3d;}
.form-con{
    width:252px;
    margin:23px auto;
}
.user-wx{
    position:absolute;
    top:66px;
    left:-307px;
    width:283px;
    height:285px;
    background: url("../../../../../7xnlea.com2.z0.glb.qiniucdn.com/wx_login_bg.png")/*tpa=http://7xnlea.com2.z0.glb.qiniucdn.com/wx_login_bg.png*/ no-repeat;
    /*border:3px solid #e8e8e8;*/
    padding:36px 46px 36px 30px;
    opacity: 0;
    filter: alpha(opacity=0);
    /*为鼠标移入时显示的那个盒子的显示绑定动画*/
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -ms-transform: translateX(20%);
    transform: translateX(20%);
    -webkit-transition: all .5s cubic-bezier(0.25,.5,.5,.9);
    -moz-transition: all .5s cubic-bezier(0.25,.5,.5,.9);
    transition: all .5s cubic-bezier(0.25,.5,.5,.9);
    z-index: 90;
}
/*弹出二维码*/
.user-wx-show{
    -webkit-transform: translateX(-5%);
    -moz-transform: translateX(-5%);
    -ms-transform: translateX(-5%);
    transform: translateX(-5%);
    opacity: 100;
    filter: alpha(opacity=100);
}
#phone-register{
    display: none;
}
.wxregister #phone-register{
    color:#666;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    margin-top:5px;
    margin-bottom:18px;
    text-align: right;
}
.user-wx p{
    text-align: center;
}
.user-wx p img{
    width:180px;
    min-height:180px;
}
.user-wx p.user-wx-text{
    color:#333;
    font-size: 14px;
    margin-top:16px;
}
.prompt {
    position: absolute;
    left:-1px;
    top: 38px;
    width: 250px;
    padding-left: 11px;
    height: 25px;
    background: #fef2f2;
    border: 1px solid #ffb4a8;
    color: #e84c3d;
    line-height: 25px;
    font-size: 12px;
    z-index:99;
}
#user-err-i,#user-err-i1,#code-err-i1,#user-err-i2,#pass-err-i,#verification-err-i,#verification-err-i1,#code-err-i,#loginuser-err-i,#loginpass-err-i{
    display: none;
}
.userName{
    /*background: url("http://7xnlea.com2.z0.glb.qiniucdn.com/shoujihao.png") #fff 8px no-repeat;*/
    border:1px solid #D7D7D7;
    /*border-radius: 3px;*/
    /*-webkit-border-radius: 3px;*/
    /*box-shadow: 0 0 1px #ccc;*/
    width:250px;
    margin:0 auto;
    height:40px;
    margin-top:50px;
    font-size: 16px;
    position: relative;
    background: #fff;
}
.userName .shurukuang,.shoujihao .shurukuang{
    outline: none;
    width:208px;
    height:38px;
    line-height:38px;
    border:0;
    margin-left:40px;

}
.passWord{
    /*background: url("http://7xnlea.com2.z0.glb.qiniucdn.com/password.png") #fff 8px no-repeat;*/
    border:1px solid #D7D7D7;
    /*border-radius: 3px;*/
    /*-webkit-border-radius: 3px;*/
    /*box-shadow: 0 0 1px #ccc;*/
    margin:0 auto;
    height:40px;
    margin-top:12px;
    font-size: 16px;
    position: relative;
    background: #fff;
}
.yanzhengma{

    /*border:1px solid #D7D7D7;*/
    /*border-radius: 3px;*/
    /*-webkit-border-radius: 3px;*/
    /*box-shadow: 0 0 1px #ccc;*/
    margin:0 auto;
    height:58px;
    margin-top:45px;
    font-size: 16px;

}
.shoujihao{
    /*background: url("http://7xnlea.com2.z0.glb.qiniucdn.com/yanzma.png") #fff 8px no-repeat;*/
    border:1px solid #D7D7D7;
    /*border-radius: 3px;*/
    /*-webkit-border-radius: 3px;*/
    /*box-shadow: 0 0 1px #ccc;*/
    width:250px;
    margin:0 auto;
    height:40px;
    margin-top:45px;
    font-size: 16px;
    background: #fff;
    position:relative;
}

.activeyanzh{
    border:1px solid #D7D7D7;
    /*border-radius: 3px;*/
    /*-webkit-border-radius: 3px;*/
    /*box-shadow: 0 0 1px #ccc;*/
    width:250px;
    margin:0 auto;
    height:40px;
    margin-top:45px;
    font-size: 16px;
    position:relative;
}
.activeyanzh .shurukuang{
    outline: none;
    width:170px;
    height:38px;
    line-height:36px;
    float:left;
    padding-left:40px;
}
.activeyanzh>a{
    font-size:12px;
    color:#CACAC9;
    position:absolute;
    right:0;
    top:4px;
    cursor: pointer;
}
.activeyanzh>a>img{
    width:60%;
    float:right;
}

.activeyanzh .range{
    float:left;
    width:78px;
    height:36px;
    cursor: pointer;
}
.activeyanzh .range img{
    height:38px;
}
.wxregister{display: none;position:relative;top:6px;}
.wxregister p{
    color:#666;
    font-size: 12px;
    text-align: right;
}
.wxregister p a{
    color:#14d212;
    text-decoration: underline;
    cursor: pointer;
}
#pass{
    width:240px;
}
.passWord>input{
    width:240px;
}
.forgetpass{
    margin-top:74px;
}
.forgetpass a{
    text-decoration: none;
    color:#1583fb;
    float:right;
    font-size: 14px;
}
.yanzhengma .shurukuang{
    background: url("../../../../../7xnlea.com2.z0.glb.qiniucdn.com/shoujihao.png")/*tpa=http://7xnlea.com2.z0.glb.qiniucdn.com/shoujihao.png*/8px no-repeat;
    outline: none;
    width:230px;
    height:48px;
    line-height:48px;
    padding-left:40px;
    border:1px solid #D7D7D7;
    /*box-shadow: 0 0 1px #ccc;*/
}
.passWord .shurukuang{
    outline: none;
    width:210px;
    height:38px;
    line-height:38px;
    border:0;
    margin-left:40px;
}
.send{
    width:122px;
    height:50px;
    background: #35AF0B;
    color:#e84c3d;
    border: none;
    text-align: center;
    line-height: 58px;
    /*border-radius: 8px;*/
    float:right;
    cursor: pointer;
}
.sendyzm{
    width:100px;
    height:40px;
    background: #e84c3d;
    color:#fff;
    border: none;
    text-align: center;
    line-height: 58px;
    /*border-radius: 3px;*/
    float:right;
    cursor: pointer;
    /*margin-top:30px;*/
}
.denglu{
    width:280px;
    margin:0 auto;
}
.denglu button {
    font-size: 14px;
    color: rgb(255, 255, 255);
    height: 40px;
    /*border-radius: 8px;*/
    line-height: 40px;
    width: 250px;
    background: #e84c3d;
    border: none;
    margin-top:15px;
    cursor: pointer;
    border-radius: 3px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
/*******************************footer**************************/
.footer{
    background: #303133;
    padding:52px 0;
}
.footer-padding{
    padding:0 34px;
}
.footer-item{
    padding:0 35px;
    height:187px;
    float:left;
    border-right:1px solid #E8E8E8;
}
.footer-item h4{
    text-align: center;
}
.footer-list-left{
    float:left;
    margin-right:25px;
}
.footer-kf{
    width:260px;
    padding:18px 2px 18px 55px;
    float:left;
}
.footer-item-list h4,.footer-kf h4{
    color:#fff;
    font-size:14px;
    margin-bottom:15px;
}
.footer-list li{
    height:27px;
    line-height:27px;

    cursor: pointer;
}
.footer-list li a{
    color:#fff;
    font-size:12px;
}
.footer-list li a:hover{
    color:#ef4635;
}
.footer-kf p{
    color:#ef4635;
    font-size:22px;
    margin-bottom:15px;
}
.ewm{
    float:left;
    text-align: center;
    padding:18px 0 18px 0;
}
.ewm-img{
    width:92px;
    height:92px;
    overflow: hidden;
}
.ewm-img img{
    width:100%;
}
.ewm p{
    margin-top:20px;
    color:#fff;
    font-size:12px;
}
.friendlink{
    background:#27292b;
    padding:30px 0;
    margin:0 auto;
    text-align: center;
}
#copyright{
    text-align: center;
    font-size:12px;
    color:#fff;
}
.friendlink p{
    line-height:30px;
}
.friendlink #copyright a,.friendlink a{
    color:#fff;
    font-size:12px;
    padding:0 9px;
}
.friendlink #copyright a:hover{
    color:#e84c3d;
    text-decoration: underline;
}
.friendlink p span{
    color:#fff;
    font-size:14px;
}
.lxwm p{
    color:#fff;
    font-size:12px;
    margin-bottom:6px;
}
.lxwm a img {
    position: relative;
    top: 8px;
    margin-right: 9px;
    width: 24px;
}
/*用户协议*/
.agreement-title{
    text-align:center;
}
.agreement-title h2{
    font-size:18px;
    color:#000;
    margin:35px auto;
    font-weight:bold;
}
.agreement-con h3{
    font-size:18px;
    color:#000;
    margin-bottom:7px;
    font-weight:bold;
}
.agreement-con p{
    font-size:14px;
    color:#000;
    line-height:2em;
}
.agreement-con .margin-top-lg{
    margin-top:30px;
}
.agreement-con span{
    font-size:14px;
    color:#000;
    line-height:1em;
    text-indent: 1em;
    display: inline;
}
.form-title li.detail-nav-bor {
    position: absolute;
    width: 96px;
    height: 2px;
    bottom: 0;
    left: 36px;
    background: #e84c3d;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
/************************************************新增加顶部网站导航***********************************************/
/*顶部导航 begin */
/*.navigation{ cursor:pointer; padding:0 7px; text-align:center; height:35px;}*/
/*.navigation:hover{ background:#efefef; border-bottom:none; border-top:none; color:#e83737;}*/
.navigation:hover .navigation_van{ display:block; }
#navigations{ z-index: 901; padding-right: 20px;position: relative;margin-right:15px;}
#navigations>a{color:#666;}
#navigations span{ cursor: pointer;}
.caret {display: inline-block;width: 0;height: 0;margin-left: 2px;vertical-align: middle;border-top: 4px dashed;border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
#navigations span.caret {position:absolute;right:5px;top:15px;transition: transform 0.2s ease-out 0s;}
#navigations:hover span.caret{transform: rotate(180deg);}

.navigation_van{ width:1002px; border:1px solid #ebebeb; background:#fff; right:-120px; z-index:999; display:none; border-top:none;background-color: #fff;-webkit-background-clip: padding-box;background-clip: padding-box;border: 1px solid #ccc;border: 1px solid rgba(0,0,0,.15);border-bottom:3px solid #ff6654;-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);box-shadow: 0 6px 12px rgba(0,0,0,.175);}
.navigation_van>.arrow, .navigation_van>.arrow:after { text-align: left;white-space: normal;font-size: 0px;  position: absolute;  display: block;  width: 0;  height: 0;  border-color: transparent;  border-style: solid;}
.navigation_van>.arrow {top: -22px;right:151px;margin-left: -11px;border-top-width: 0;border-bottom-color: #999;border-bottom-color: rgba(0,0,0,.25);}
.navigation_van>.arrow { border-width: 11px;}
.navigation_van>.arrow:after {  content: "";  border-width:10px;}
.navigation_van>.arrow:after {top: 1px;margin-left: -10px;content: " ";border-top-width: 0;border-bottom-color: #fff;}

.navigation_van .navigation_name{ text-align: center;font-size: 14px; font-weight: bold; color:#e84c3d; line-height: 40px;height: 40px;border-bottom: 1px dashed #ddd;}
.navigation_van .gation_first{ text-align: center;font-size: 14px; font-weight: bold;  line-height: 40px;height: 40px;}
.navigation_hot{background: url("../../../../App/Public/Globals/images/hoting.gif")/*tpa=http://image.dmlei.com/App/Public/Globals/images/hoting.gif*/ 125px center no-repeat;}
.navigation_news{background: url("../../../../App/Public/Globals/images/new.gif")/*tpa=http://image.dmlei.com/App/Public/Globals/images/new.gif*/ right center no-repeat;}
.navigation_left{width: 146px;height:218px;}
.navigation_center1{ width: 290px; border-left: 1px solid #ddd;height:218px;}
.navigation_right{ width: 230px;border-left: 1px solid #ddd;height:218px; }
.navigation_list{width: 119px;}
.border-left{border-left: 1px solid #ddd;}

.navigation_list li{line-height:28px;height:28px;overflow:hidden;color:#222a37;position: relative; text-align: left;padding-left:36px;}
.navigation_list li a{color:#666;font-size: 14px;}
.navigation_list li a:hover{ text-decoration:none;color:#e84c3d;}
.navigation_list li span.middot{ display:block; position:absolute; width:3px; height:3px; left:3px; top:12px; background:#999}
.pos_absolute {position: absolute;}
.p20 {padding: 20px!important;}
.pr9 {padding-right: 9px!important;}
.blank10 {height: 10px;}
.pr10 {padding-right: 10px!important;}
.pl10 {padding-left: 10px!important;}

/*顶部导航 end */
 /**************************新版nav BEGIN**************************/
.dmleiv2-nav-dropdown {
    position: absolute;
    width: 197.6px;
    top: 95px;
    z-index: 999;
    display: block;
    opacity: 0;
    visibility: hidden;
    margin-top: 30px;
    transition: visibility 0.15s linear, opacity 0.3s ease, margin 0.3s ease;
    border-bottom: 3px solid #fc7a22;
    background: #fff;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #ddd;
    box-shadow: 0px 2px 5px 1px rgba( 4, 0 ,0 ,.23);
}
.dmleiv2-nav-dropdown.open{
    visibility: visible;
    opacity: 1;
    margin-top: 4px;
}
.dmleiv2-nav-dropdown li {
    background: #fff;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
}
.dmleiv2-nav-dropdown>li>a {
    width: 197.6px;
    height: 59px;
    display: block;
    line-height: 58px;
    text-align: center;
    font-size: 16px;
    color: #666666!important;
}
.dmleiv2-nav-dropdown>li.active,.dmleiv2-nav-dropdown>li:hover{
    border-top:1px solid #dadada;
    border-bottom:1px solid #dadada;
}
.dmleiv2-nav-dropdown>li.active,.dmleiv2-nav-dropdown>li:hover a{
    background: #fff;
    color:#fc7a22!important;

    width:197.6px;
}

.dmleiv2-nav-dropdown:before{
    content: '';
    display: inline-block;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 11px solid #CFCFCF;
    border-bottom-color: rgba(183,183,183,0.5);
    position: absolute;
    top: -11px;
    left:57px;
}
.dmleiv2-nav-dropdown:after{
    content: '';
    display: inline-block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: -9px;
    left: 58px;
}
.nav-hasdrop span.caret {transition: transform 0.2s ease-out 0s;}
.nav-hasdrop:hover span.caret{transform: rotate(180deg);}
.fixednav {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 988;
    box-shadow: 0 0 6px 1px rgba(0,0,0,.3);
    -webkit-transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s ;
    -ms-transition: all ease-out 0.5s ;
    -o-transition: all ease-out 0.5s ;
    transition: all ease-out 0.5s ;

}
/**************************新版nav END**************************/

